@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-Black.eot");
  src: url("../fonts/LibreFranklin-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/LibreFranklin-Black.woff2") format("woff2"),
    url("../fonts/LibreFranklin-Black.woff") format("woff"),
    url("../fonts/LibreFranklin-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-ExtraBold.eot");
  src: url("../fonts/LibreFranklin-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/LibreFranklin-ExtraBold.woff2") format("woff2"),
    url("../fonts/LibreFranklin-ExtraBold.woff") format("woff"),
    url("../fonts/LibreFranklin-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-Bold.eot");
  src: url("../fonts/LibreFranklin-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/LibreFranklin-Bold.woff2") format("woff2"),
    url("../fonts/LibreFranklin-Bold.woff") format("woff"),
    url("../fonts/LibreFranklin-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-ExtraLight.eot");
  src: url("../fonts/LibreFranklin-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/LibreFranklin-ExtraLight.woff2") format("woff2"),
    url("../fonts/LibreFranklin-ExtraLight.woff") format("woff"),
    url("../fonts/LibreFranklin-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-Light.eot");
  src: url("../fonts/LibreFranklin-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/LibreFranklin-Light.woff2") format("woff2"),
    url("../fonts/LibreFranklin-Light.woff") format("woff"),
    url("../fonts/LibreFranklin-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-LightItalic.eot");
  src: url("../fonts/LibreFranklin-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/LibreFranklin-LightItalic.woff2") format("woff2"),
    url("../fonts/LibreFranklin-LightItalic.woff") format("woff"),
    url("../fonts/LibreFranklin-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-Regular.eot");
  src: url("../fonts/LibreFranklin-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/LibreFranklin-Regular.woff2") format("woff2"),
    url("../fonts/LibreFranklin-Regular.woff") format("woff"),
    url("../fonts/LibreFranklin-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-SemiBold.eot");
  src: url("../fonts/LibreFranklin-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/LibreFranklin-SemiBold.woff2") format("woff2"),
    url("../fonts/LibreFranklin-SemiBold.woff") format("woff"),
    url("../fonts/LibreFranklin-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-Thin.eot");
  src: url("../fonts/LibreFranklin-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/LibreFranklin-Thin.woff2") format("woff2"),
    url("../fonts/LibreFranklin-Thin.woff") format("woff"),
    url("../fonts/LibreFranklin-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-Medium.eot");
  src: url("../fonts/LibreFranklin-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/LibreFranklin-Medium.woff2") format("woff2"),
    url("../fonts/LibreFranklin-Medium.woff") format("woff"),
    url("../fonts/LibreFranklin-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-Thin_1.eot");
  src: url("../fonts/LibreFranklin-Thin_1.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/LibreFranklin-Thin_1.woff2") format("woff2"),
    url("../fonts/LibreFranklin-Thin_1.woff") format("woff"),
    url("../fonts/LibreFranklin-Thin_1.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
