.hero-banner {
  position: relative;
}

.hero-content-wrapper {
  display: flex;
  align-items: start;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.hero-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.hero-img:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 49%,
    rgba(0, 0, 0, 0.36) 52%
  );
}

.hero-img img {
  width: 100%;
  height: 100%;
  display: block;
}

.hero-banner .container {
  position: relative;
  z-index: 998;
}

.hero-content-wrapper {
  color: var(--white);
}

.hero-content-wrapper .caption {
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 1.2px;
  margin-bottom: 12px;
}

.hero-content-wrapper h1 {
  font-size: 60px;
  line-height: 1.1;
  font-weight: 300;
  margin-bottom: 17px;
}

.hero-btn-wrap {
  display: flex;
  align-items: center;
  gap: 24px;
}

@media only screen and (min-width: 1024px) {
  .hero-content-wrapper {
    max-width: 730px;
    margin-left: 90px;
  }
}

@media only screen and (max-width: 767px) {
  .hero-content-wrapper {
    height: 100%;
  }
  .hero-banner {
    background-color: var(--skin);
  }

  .hero-img {
    position: static;
    height: auto;
  }

  .hero-img::before {
    content: none;
  }
}
