/* Hero start */
.hero-banner {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero-banner::before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    271deg,
    rgba(0, 0, 0, 0.36) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.hero-content {
  position: relative;
  z-index: 998;
  max-width: 730px;
  color: var(--white);
}

.caption {
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 1.2px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 12px;
}

.hero-content h1 {
  font-size: 60px;
  line-height: 1.1;
  font-weight: 300;
  margin-bottom: 17px;
}

.hero-btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
}

.hero-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media only screen and (min-width: 768px) {
  .btn-primary.mobile {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .hero-banner {
    flex-direction: column;
    background-color: var(--skin);
  }

  .hero-content {
    padding-top: 222px;
    padding-bottom: 53px;
  }

  .hero-content h1 {
    font-size: 40px;
  }

  .hero-content {
    max-width: unset;
    color: var(--black);
  }

  .hero-banner::before {
    background: unset;
  }

  .hero-image {
    position: static;
  }

  .btn-text {
    display: none;
  }
}
/* Hero End */

/* ------------------------------------------------------------------------------------------------------------------------------- */

/* transformation journey start */

.transformation-journey {
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(4, 60, 57, 1) 20%,
    rgba(237, 108, 79, 1) 20%
  );
}

.transformation-journey::before {
  content: "";
  position: absolute;
  background-image: url("../images/section/who-we-are-bg.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: block;
  right: 0;
  top: 0;
}

.transformation-journey .container {
  position: relative;
  z-index: 998;
}

.journey-content {
  color: var(--white);
  padding-top: 140px;
  max-width: 630px;
}

.journey-content h2 {
  font-weight: 300;
  line-height: 1.15;
  margin-bottom: 18px;
}

.journey-content p {
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 18px;
}

.what-we-header {
  margin-top: 202px;
  margin-bottom: 27px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
}

.what-we-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

.we-card {
  display: block;
  position: relative;
  overflow: hidden;
}

.we-card .we-card-img {
  position: relative;
  color: var(--white);
}

.we-card::before {
  content: "";
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.36) 80%,
    rgba(0, 0, 0, 1) 100%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.we-card .we-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.we-card .we-card-content {
  position: absolute;
  left: 0;
  top: auto;
  bottom: 0;
  width: 100%;
  padding: 30px;
  color: var(--white);
  z-index: 998;
  transform: translateY(100%);
  transition: all 0.4s ease-in-out;
}

.we-card:hover .we-card-content {
  transform: translateY(0%);
}

.we-card .we-card-content h4 {
  margin-bottom: 10px;
}

.we-card-icon {
  background-color: var(--white);
  color: var(--black);
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}

@media only screen and (max-width: 767px) {
  .what-we-cards {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 10px;
  }
}

/* transformation journey end */

/* ------------------------------------------------------------------------------------------------------------------------------- */

/* testimonial start */

.testimonial {
  background-color: var(--secondary);
  padding-top: 160px;
  padding-bottom: 60px;
  color: var(--white);
}

.testimonial-slide {
  text-align: center;
  max-width: 872px;
  margin: 0 auto;
}

.testimonial-slide .caption {
  margin-bottom: 24px;
}

.testimonial-slide h2 {
  font-size: 44px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.4;
  margin-bottom: 17px;
}

.testimonial-slide .author-name {
  display: inline-block;
  font-size: 12px;
  line-height: 1.4;
  font-weight: 500;
}

.testimonial .splide__pagination {
  margin-bottom: -43px;
}

.testimonial .splide__pagination__page {
  width: 16px;
  height: 3px;
  border-radius: 0%;
}

.testimonial .splide__pagination__page.is-active {
  width: 36px;
  transform: scale(1);
}

@media only screen and (max-width: 767px) {
  .testimonial-slide h2 {
    font-size: 33px;
  }
}

/* testimonial end */

/* ------------------------------------------------------------------------------------------------------------------------------- */

.line-process-section {
  background-color: var(--secondary);
  padding-block: 200px;
}

.line-process-section h2 {
  color: var(--white);
  margin-bottom: 54px;
  text-align: center;
  font-weight: 300;
}

.line-process-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

.line-process-item {
  text-align: center;
  margin-inline: auto;
  color: var(--white);
}

.line-process-item .process-item-img {
  background-color: var(--secondary);
  box-shadow: 0 0 36px rgba(2, 31, 30, 1);
  border-radius: 100%;
  width: 261px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  padding: 50px;
  justify-content: center;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.process-content-line {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 300;
  max-width: 222px;
  margin: 0 auto;
}

.line-process-item .process-item-img img {
  display: block;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1024px) {
  .line-process-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 767px) {
  .line-process-item .process-item-img {
    padding: 50px;
  }
  .line-process-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

/* line-process-section end */

/* ------------------------------------------------------------------------------------------------------------------------------- */
.our-resources {
  padding-top: 143px;
  padding-bottom: 243px;
  background-color: var(--skin);
  position: relative;
  overflow: hidden;
}
.resources-card-img {
  height: 252px;
  margin-bottom: 23px;
}

.resources-heading h2 {
  font-size: 40px;
  line-height: 1.45;
  font-weight: 300;
  color: var(--secondary);
  margin-bottom: 35px;
}

.resources-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.resources-content span {
  font-size: 12px;
  line-height: 2.5;
  margin-bottom: 12px;
  color: var(--primary);
  letter-spacing: 1.68px;
}

.resources-content h5 {
  font-size: 22px;
  line-height: 1.18;
  margin-bottom: 12px;
  font-weight: normal;
}

.resources-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 12px;
  font-weight: 300;
}

.our-resources .splide__slide {
  padding-inline: 11px;
}

.our-resources .splide__track {
  overflow: visible;
}

.our-resources::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 10%;
  height: 100%;
  background-color: var(--skin);
  z-index: 99;
}
.our-resources .splide__arrows .splide__arrow--prev,
.our-resources .splide__arrows .splide__arrow--next {
  position: absolute;
  top: -60px;
  background-color: var(--secondary);
  width: 43px;
  height: 43px;
  color: var(--white);
  padding: 7px;
}

.our-resources .splide__arrows .splide__arrow--prev {
  right: 60px;
  left: auto;
}

.our-resources .splide__arrows .splide__arrow--prev svg {
  transform: rotate(0deg);
}

.our-resources .splide__arrows .splide__arrow--next {
  right: 0;
  left: auto;
}

.our-resources .splide__arrow svg {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1023px) {
  .our-resources::before {
    width: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .resources-heading h2 {
    font-size: 30px;
    line-height: 1.9;
    margin-bottom: 27px;
  }

  .our-resources .splide__arrows .splide__arrow--prev {
    top: calc(100% + 50px);
    left: 40%;
    right: auto;
    transform: translateX(-50%);
  }

  .our-resources .splide__arrows .splide__arrow--next {
    top: calc(100% + 50px);
    left: 53%;
    right: auto;
    transform: translateX(-50%);
  }
}

/* our-resources end */

/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------- */

/* who-we-are-bg */

.who-we-are-bg {
  background-color: var(--skin);
}

.two-col-content {
  display: flex;
  align-items: center;
  padding-block: 110px;
  color: var(--secondary);
  gap: 40px;
}

.col-content {
  width: 50%;
}

.two-col-content h2 {
  font-size: 34px;
  font-weight: 300;
  line-height: 1.29;
}

.col-content p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
}

.col-content p:not(:last-child) {
  margin-bottom: 26px;
}

@media only screen and (max-width: 767px) {
  .two-col-content {
    flex-direction: column;
    gap: 40px;
  }
  .col-content {
    width: 100%;
  }
}

/* About Resources Sliders */

.about-resources {
  position: relative;
  overflow: hidden;
  padding-top: 35px;
}

.about-resources .splide__track {
  overflow: visible;
}

.about-resources-img {
  background-color: var(--secondary);
  border-radius: 100%;
  max-width: 261px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  padding: 50px;
  justify-content: center;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.about-resources-slide {
  text-align: center;
  padding-inline: 20px;
}

.about-resources-slide h4 {
  font-size: 30px;
  line-height: 0.6;
  font-weight: 400;
  margin-bottom: 24px;
}

.about-resources-slide p {
  color: var(--secondary);
  font-size: 16px;
  line-height: 1.65;
}

.about-resources-img img {
  display: block;
  width: 100%;
  height: 100%;
}

.about-resources-slide p {
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
}

/*  */

.our-purpose {
  position: relative;
  background-image: url("../images/section/about-our-purpose.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.our-purpose:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
  background-color: #ed6c4f;
  width: 70%;
  height: 100%;
}

.our-purpose .inner-content {
  position: relative;
  z-index: 9999;
  padding-block: 100px;
  width: 450px;
}

.our-purpose .inner-content h2 {
  font-size: 40px;
  font-weight: 300;
  color: var(--white);
  margin-bottom: 10px;
}

.our-purpose .inner-content p {
  font-size: 16px;
  line-height: 1.8;
  color: var(--white);
  margin-bottom: 22px;
}

.our-purpose .image-content {
  position: absolute;
  left: 0;
  top: 0;
}

.our-purpose .image-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media only screen and (max-width: 767px) {
  .our-purpose .inner-content {
    padding-top: 50px;
    padding-bottom: 150px;
    width: 100%;
  }

  .our-purpose:before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 76%);
    width: 100%;
    height: 100%;
  }
}

/* about-card-content */

.about-card-content {
  padding-bottom: 170px;
}

.about-card-content .what-we-header h3 {
  color: var(--secondary);
  font-weight: 300;
}

/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------- */
/* What we do */

.tab-wrap {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: 30px;
}

.tab {
  grid-column: span 2 / span 2;
}

.tab-body-content {
  grid-column: span 6 / span 6;
}

.tab ul {
  background-color: var(--primary);
  padding: 44px 37px 48px;
  margin-right: 60px;
  position: sticky;
  top: calc(var(--headerHeight) + 100px);
  left: 0;
}

.tab ul li:not(:last-child) {
  margin-bottom: 25px;
}

.tab ul li a {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.6;
  color: var(--white);
}
.tab ul li {
  transition: all 0.4s ease-in-out;
  border-left: 2px solid transparent;
  padding-left: 6px;
}

.tab ul li.active {
  border-left: 2px solid var(--secondary);
  padding-left: 6px;
}

.what-we-do-bg {
  background-color: var(--secondary);
  padding-top: calc(var(--headerHeight) + 100px);
}
.tab-content {
  color: var(--white);
  scroll-margin-top: calc(var(--headerHeight) + 100px);
}

.tab-content h3 {
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 14px;
}

.tab-content p {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  margin-bottom: 54px;
}
.tab-content.tab-content-with-btn {
  padding-bottom: 86px;
}
.tab-content.tab-content-with-btn p {
  padding-bottom: 19px;
}
.divider {
  margin-block: 80px;
  width: 100%;
  height: 1px;
  background-color: var(--white);
  opacity: 34%;
}
.tab-img {
  height: 435px;
}

.tab-img img {
  width: 100%;
  height: 100%;
}

.tab-img {
  margin-bottom: 54px;
}

.tab-two-col-wrap {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 38px;
}

.tab-two-img {
  min-height: 100%;
  height: 350px;
}

.tab-two-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tab-two-col-wrap .tab-two-img {
  grid-column: span 2 / span 2;
}

.tab-two-col-wrap .tab-two-content {
  grid-column: span 1 / span 1;
}

.tab-two-content span {
  font-size: 12px;
  letter-spacing: 1.2px;
  font-weight: 400;
  line-height: 2.5;
  color: var(--primary);
  margin-bottom: 12px;
}

.tab-two-content h3 {
  font-size: 22px;
  line-height: 1.36;
  font-weight: 500;
  margin-bottom: 14px;
  color: var(--white);
}

.tab-two-content p {
  font-size: 13px;
  line-height: 1.76;
  font-weight: 300;
  color: var(--white);
}

@media only screen and (max-width: 1023px) {
  .tab ul {
    margin-right: 0px;
    padding: 24px 17px 28px;
  }
}

@media only screen and (max-width: 767px) {
  .tab-wrap {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .tab {
    grid-column: span 1 / span 1;
  }

  .tab ul {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
  }

  .tab-body-content {
    grid-column: span 1 / span 1;
  }

  .tab ul li:not(:last-child) {
    margin: 0;
  }

  .tab-two-col-wrap {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .tab-two-col-wrap .tab-two-img {
    grid-column: span 1 / span 1;
  }
  .tab ul li a {
    white-space: nowrap;
  }
}

/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------- */

/* Our Purpose Page */

.our-purpose-bg {
  background-color: var(--secondary);
}

.inner-hero {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 750px;
  position: relative;
}

.inner-hero::before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    271deg,
    rgba(0, 0, 0, 0.36) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.inner-hero-content {
  position: relative;
  z-index: 998;
}

.inner-hero-img {
  position: absolute;
  left: 0;
  top: 0;
  height: 750px;
  width: 100%;
  min-height: 100%;
}

.inner-hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inner-hero h1 {
  color: var(--white);
  font-weight: 300;
  line-height: 1;
}

/* our-purpose-two-col start */

.our-purpose-two-col {
  color: var(--white);
}

.our-purpose-two-col .two-col-content {
  color: var(--white);
  align-items: start;
}

/* our-two-col start */
.our-two-col:not(:last-child) {
  margin-bottom: 90px;
}
.our-two-col {
  position: relative;
  background-color: var(--secondary);
}

.our-two-col-wrap {
  display: flex;
}

.our-two-col-content {
  align-self: center;
  padding-right: 64px;
  position: relative;
  z-index: 999;
  padding-block: 20px;
}

.our-two-column {
  width: 50%;
}

.our-two-col-img-wrap {
  min-height: 100%;
  height: 560px;
}

.our-two-col-img {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
}
.our-two-col-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.our-two-col-content span {
  font-size: 12px;
  line-height: 2.5;
  letter-spacing: 1.68px;
  color: var(--primary);
  font-weight: 300;
  margin-bottom: 16px;
}

.our-two-col-content h3 {
  color: var(--white);
  font-size: 26px;
  line-height: 1.65;
  font-weight: 400;
  margin-bottom: 16px;
}

.our-two-col-content p {
  color: var(--white);
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .our-two-col-wrap.two-row-reverse {
    flex-direction: row-reverse;
  }

  .our-two-col-wrap.two-row-reverse .our-two-col-img {
    left: 0;
    right: auto;
  }

  .our-two-col-wrap.two-row-reverse .our-two-col-content {
    padding-left: 64px;
    padding-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .our-two-col-wrap {
    flex-direction: column;
  }

  .our-two-col-img {
    width: 100%;
    position: static;
  }

  .our-two-col-img-wrap {
    margin-left: -20px;
  }

  .our-two-column {
    width: calc(100% + 40px);
  }
}

/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------- */
